/* BASE */
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Segoe UI',system-ui,sans-serif;
}
.pc\:w{
    width:75%;
}
thead{
    background-color: lightgray;
}
.pad{
    padding:4rem
}
.bg{
    background: #111827;
}
h2,h3 {
    text-align: center;
    font-weight: bold;
    font-size: 3.75rem;
}
h3{
    font-size: 2.75rem;
}
/* NAV */
.nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
    background: lightgreen;
    padding: 20px;
    z-index: 1000;
}
.nav.is-visible{
    transform: translateY(0);
}

/* TELEPORTS */
.teleports,
.nav-teleports{
    justify-content: space-between;
    gap: 2rem;
}
.nav-teleports a,
.teleports a{
    position: relative;
    display: inline-block;
    padding: 0 10px;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    color: black;
    text-decoration: none;
    z-index: 1;
}
.nav-teleports a:after,
.teleports a:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 6px;
    width: 100%;
    height: 6px;
    transition: height 0.3s ease, bottom 0.3s ease;
    z-index: -1;
}
.nav-teleports a:hover:after,
.teleports a:hover:after{
    height: 35px;
    bottom: 0;
}
.nav-teleports a:after{
    background-color: yellow;
}
.teleports a:after{
    background-color: lightgreen;
}
/* PROFIELFOTO */
.profielfoto{
    margin-top: 3.5rem;
}
.profielfoto img{
    border: 10px solid black;
    border-radius: 50%;
    width: 400px;
    transition: border 0.5s ease;
}
.profielfoto img:hover{
    border-color: lightgreen;
}

/* INTRODUCTIE */
.introductie{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    font-size: 3rem;
    line-height: 1;
    font-weight: 800;
    padding: 4.5rem;
}
.introductie p{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.introductie p:first-child{
    margin-top: 0;
}
.introductie p:last-child{
    margin-bottom: 0;
}
.introductie span{
    color: lightgreen;
}

/* LOGBOEK */
#logboek h2{
    color: white;
}
.planning{
    border-collapse: collapse;
    background: white;
}
.planning th,
.planning td{
    border: 1px solid black;
    padding: 12px;
    vertical-align: top;
}

.planning th{
    font-weight: bold;
    text-align: left;
}
.planning ul{
    margin: 0;
    padding-left: 18px;
}
.planning li{
    margin-bottom: 6px;
}
.vakantie{
    text-align: left;
}

/* Ontwikkeling */
#ontwikkeling{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
}
#ontwikkeling p{
    text-align: center;
    font-weight: bold;
    width: 1000px;
}
.rol{
    text-align: left;
    font-weight: bold;
    column-span: 2;
}
.competenties tr:first-child{
    width: 30%;
}
/* OPDRACHTEN */
#opdrachten{
    color: white;
}
.evaluatie-of-opdracht{
    border: 2px solid white;
    border-radius: 20px;
    padding: 16px;
    width: 25%;
    background: #2b3d63;
    position: relative;
    top: 0;
    transition: 0.3s ease-out;
    margin-bottom: 1rem;
}
.evaluatie-of-opdracht p{
    display: block;
}
.evaluatie-of-opdracht p:first-child{
    font-weight: bold;
}
.evaluatie-of-opdracht:hover{
    box-shadow: 10px 10px black;
    top: -6px
}
.opdrachten-en-evaluaties{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
/* CONTENT */
.centering{
    display: flex;
    align-items: center;
    justify-content: center;
}
.top-of-page{
    padding: 5rem;
}
.col-centered{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}