/* BASE */
body{
    font-family: 'Segoe UI',system-ui,sans-serif;
}
.pc\:w{
    width:75%;
}
/* NAV */
.nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
    background: lightgreen;
    padding: 20px;
    z-index: 1000;
}
.nav.is-visible{
    transform: translateY(0);
}

/* TELEPORTS */
.teleports,
.nav-teleports{
    justify-content: space-between;
    gap: 2rem;
}
.nav-teleports a,
.teleports a{
    position: relative;
    display: inline-block;
    padding: 0 10px;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    color: black;
    text-decoration: none;
    z-index: 1;
}
.nav-teleports a:after,
.teleports a:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 6px;
    width: 100%;
    height: 6px;
    transition: height 0.3s ease, bottom 0.3s ease;
    z-index: -1;
}
.nav-teleports a:hover:after,
.teleports a:hover:after{
    height: 35px;
    bottom: 0;
}
.nav-teleports a:after{
    background-color: yellow;
}
.teleports a:after{
    background-color: lightgreen;
}
/* PROFIELFOTO */
.profielfoto{
    margin-top: 3.5rem;
}
.profielfoto img{
    border: 10px solid black;
    border-radius: 50%;
    width: 400px;
    transition: border 0.5s ease;
}
.profielfoto img:hover{
    border-color: lightgreen;
}

/* INTRODUCTIE */
.introductie{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    font-size: 3rem;
    line-height: 1;
    font-weight: 800;
    padding: 4.5rem;
}
.introductie span{
    color: lightgreen;
}

/* CONTENT */
#logboek{
    font-size: 5rem;
}
.centering{
    display: flex;
    align-items: center;
    justify-content: center;
}
.top-of-page{
    padding: 5rem;
}
.col-centered{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}